<div id="service" class="content">
    <p class="service-title title">Serviços</p>
    <div class="card service-content">
        <div>
            <li>
                <span class="list-icon">
                    <i class="fa fa-paw" aria-hidden="true"></i>
                </span>
                <span class="icon-list-text p2">Consulta com especialista</span>
            </li>
            <li>
                <span class="list-icon">
                    <i class="fa fa-paw" aria-hidden="true"></i>
                </span>
                <span class="icon-list-text p2">Otoscopia</span>
            </li>
            <li>
                <span class="list-icon">
                    <i class="fa fa-paw" aria-hidden="true"></i>
                </span>
                <span class="icon-list-text p2">Citologia de pele</span>
            </li>
            <li>
                <span class="list-icon">
                    <i class="fa fa-paw" aria-hidden="true"></i>
                </span>
                <span class="icon-list-text p2">Lâmpada de Wood</span>
            </li>
            <li>
                <span class="list-icon">
                    <i class="fa fa-paw" aria-hidden="true"></i>
                </span>
                <span class="icon-list-text p2">Raspado de pele</span>
            </li>
        </div>
        <div>
            <li>
                <span class="list-icon">
                    <i class="fa fa-paw" aria-hidden="true"></i>
                </span>
                <span class="icon-list-text p2">Tricograma</span>
            </li>
            <li>
                <span class="list-icon">
                    <i class="fa fa-paw" aria-hidden="true"></i>
                </span>
                <span class="icon-list-text p2">Biopsia de pele</span>
            </li>
            <li>
                <span class="list-icon">
                    <i class="fa fa-paw" aria-hidden="true"></i>
                </span>
                <span class="icon-list-text p2">Exames laboratoriais</span>
            </li>
            <li>
                <span class="list-icon">
                    <i class="fa fa-paw" aria-hidden="true"></i>
                </span>
                <span class="icon-list-text p2">Ultrassonografia</span>
            </li>
            <li>
                <span class="list-icon">
                    <i class="fa fa-paw" aria-hidden="true"></i>
                </span>
                <span class="icon-list-text p2">Medicações específicas</span>
            </li>
        </div>
    </div>
</div>
