.content {
    padding: 90px 20px;
    background-color: #f2f2f2;
    color: #5D101E;
    font-size: 40px;
    height: 100%;
}

.service-title {
    padding-left: 100px;
    /*text-shadow: 1px 1px 5px #b0b0b0; */
}

.card {
    background-color: transparent;
    border: 0;
}

.service-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 50px;
}

.service-content div {
    width: 550px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.service-content div:nth-child(1) {
    padding-left: 150px;
}

li {
    list-style-type: none;
    display: flex;
    font-size: inherit;
    align-items: center;
    height: 50px;
}

.list-icon {
    display: flex;
    font-size: inherit;
    align-items: center;
}

.list-icon i {
    font-size: 14px;
    color: #5D101E;
}

.icon-list-text {
    margin-left: 10px;
    color: #5D101E;
}

.service-content2 {
    display: flex;
    flex-direction: row;
    justify-self: center;
    min-width: 1000px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.service-content2 div {
    width: 340px;
    height: 380px;
    border-radius: 5%;
    padding: 20px;
    margin: 30px;
    color: #5d101e;
    box-shadow: 0px 0px 10px #777;
    
    background: linear-gradient(to top, #f2f2f2 50%, #5d101e 50%);
    background-size: 100% 200%;
    background-position: 0 100%;
    transition: all .6s ease;
}

.service-content2 div:hover {
    background-position: 0 0;
    color: #f2f2f2;
}

.service-content2 .p2 {
    display: flex;
    justify-content: center;
    font-weight: bold;
    margin-bottom: 50px;
}

.service-content2 i {
    font-size: 15px;
    margin-right: 15px;
}

@media (max-width: 1154px) {
    .service-content {
        display: flex;
        justify-content: center;
    }
    
    .service-content div {
        width: 400px;
    }

    .service-content div:nth-child(1) {
        padding-left: 0;
    }

    .service-content2 {
        min-width: 500px;
        flex-wrap: wrap;
    }
}

@media (max-width: 768px) {
    .service-title {
        padding: 0px;
        display: flex;
        justify-content: center;
        font-weight: bold;
    }

    .service-content {
        display: flex;
        justify-content: center;
    }

    .service-content div {
        display: flex;
        justify-content: center;
        width: 300px;
    }

    .service-content div:nth-child(1) {
        padding-left: 0;
    }
}