<div class="divider">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none">
        <path fill="#5d101e" d="M421.9,6.5c22.6-2.5,51.5,0.4,75.5,5.3c23.6,4.9,70.9,23.5,100.5,35.7c75.8,32.2,133.7,44.5,192.6,49.7
        c23.6,2.1,48.7,3.5,103.4-2.5c54.7-6,106.2-25.6,106.2-25.6V0H0v30.3c0,0,72,32.6,158.4,30.5c39.2-0.7,92.8-6.7,134-22.4
        c21.2-8.1,52.2-18.2,79.7-24.2C399.3,7.9,411.6,7.5,421.9,6.5z"></path>
    </svg>
</div>

<div class="content">
    <div class="card footer-content">
        <div class="col-md-6 footer-logo">
            <img src="../../assets/images/dermathus_simbolo_branco.png" />
            <h2 class="name_logo">Dermathus</h2>
        </div>
        <div class="col-md-6 footer-text">
            <p class="p3">
                <img src="../../assets/images/dermathus_simbolo_tom4.png" /><a href="tel:5577999806322">(77) 99980-6322</a></p>
            <p class="p3">
                <img src="../../assets/images/dermathus_simbolo_tom4.png" /><a href="https://www.google.com/maps/place/Dermathus/@-14.2239462,-42.7832956,127m/data=!3m1!1e3!4m6!3m5!1s0x75ac5105fbf1e4b:0x19139453d32e7781!8m2!3d-14.2238615!4d-42.7832722!16s%2Fg%2F11whlh30fd?entry=ttu&g_ep=EgoyMDI0MTExOS4yIKXMDSoASAFQAw%3D%3D" target="_blank">Rua Dom Pedro II, nº 215-A, Centro</a></p>
            <p class="p3">
                <img src="../../assets/images/dermathus_simbolo_tom4.png" /><a href="https://www.instagram.com/dermathusgbi/" target="_blank">&#64;dermathusgbi</a></p>
            <p class="p3">
                <img src="../../assets/images/dermathus_simbolo_tom4.png" /><a href="mailto:clinicadermathusgbi@hotmail.com">clinicadermathusgbi&#64;hotmail.com</a></p>
        </div>
    </div>
    <div class="div-copyright">
        <p>Copyright © 2024 DERMATHUS</p><p>-</p><p>Todos os direitos reservados.</p>
    </div>
</div>
