.content {
    background-color: #5D101E;
    color: white;
    font-size: 40px;
    height: auto;
}

a {
    text-decoration: none;
    color: #f2f2f2;
}

.card {
    background-color: transparent;
    border: 0;
}

.footer-content {
    margin: 0px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-logo {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer-logo img {
    margin-top: -50px;
    width: 250px;
}

.name_logo {
    font-family: 'LogoFont', Arial, Helvetica, sans-serif !important;
    font-size: 35px;
    color: #f2f2f2;
    text-align: center;
}

.footer-text {
    margin-top: 60px;
    padding-left: 50px;
    color: #f2f2f2;
}

.footer-text img {
    width: 30px;
    margin-right: 18px;
}

span i {
    color:#41010c
}

.icon-footer {
    flex-direction: row;
    display: flex;
    font-size: inherit;
    align-items: center;
    margin-bottom: 10px;
}

.icon-footer p {
    flex-direction: row;
    display: flex;
    align-items: center;
    margin: 0px 20px;
}

.icon-footer span {
    font-size: 18px;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.circle-icon {
    border-radius: 50%;
    background-color: #d38f90;
    width: 30px;
    height: 30px;
}

.divider {
    transform: rotateY(180deg);
    margin-top: -200px;
    position: relative;
    top: 1px;
    transform: scale(1, -1);
}

.div-copyright {
    border-top: #9b5758 solid 0.5px;
    background-color: #5D101E;
    margin-top: 30px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

.div-copyright p:nth-child(1) {
    margin: 0px 15px;
}

.div-copyright p:nth-child(2) {
    margin: 0px;
}

.div-copyright p:nth-child(3) {
    margin: 0px 15px;
}

@media (max-width: 900px) {
    .footer-logo img {
        margin-top: 10px;
    }

    .footer-text {
        padding-left: 0px;
    }

    .div-copyright {
        font-size: 13px;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .div-copyright p:nth-child(2) {
        display: none;
    }

    .divider {
        margin-top: -130px;
    }
}