
<nav class="navbar navbar-expand-lg navbar-dark" [ngClass]="{ 'scrolled': isScrolled }">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/" fragment="home">
            <img src="../../assets/images//dermathus_marca_branca.png" alt="Logo" class="logo" [ngStyle]="{ width: logoSize }">
        </a>

        <button class="navbar-toggler  collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-label="Toggle navigation">
            <span class="custom-toggler" (click)="toggleNavbar()" [attr.aria-expanded]="isNavbarOpen">
                <div class="line" [ngClass]="{'open': isNavbarOpen}"></div>
                <div class="line" [ngClass]="{'open': isNavbarOpen}"></div>
                <div class="line" [ngClass]="{'open': isNavbarOpen}"></div>
            </span>
        </button>

        <div class="navbar-collapse collapse" id="navbarNav" [ngClass]="{'show': isNavbarOpen}">
            <div class="div-nav-links">
                <ul class="nav-links">
                <li><a routerLink="/" (click)="closeNavbar()" fragment="home">Home</a></li>
                <li><a routerLink="/" (click)="closeNavbar()" fragment="about">Quem Somos</a></li>
                <li><a routerLink="/" (click)="closeNavbar()" fragment="service">Serviços</a></li>
                <li><a routerLink="/" (click)="closeNavbar()" fragment="booking">Agendamento</a></li>
                <li><a routerLink="/" (click)="closeNavbar()" fragment="contact">Contato</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
