<div id="service" class="content">

    <div class="page-content">
        <p class="service-title title">Serviços</p>
        <div class="card service-content">
            <div>
                <li>
                    <span class="list-icon">
                        <i class="fa fa-circle" aria-hidden="true"></i>
                    </span>
                    <span class="icon-list-text p3">Consulta com especialista</span>
                </li>
                <li>
                    <span class="list-icon">
                        <i class="fa fa-circle" aria-hidden="true"></i>
                    </span>
                    <span class="icon-list-text p3">Otoscopia</span>
                </li>
                <li>
                    <span class="list-icon">
                        <i class="fa fa-circle" aria-hidden="true"></i>
                    </span>
                    <span class="icon-list-text p3">Citologia de pele</span>
                </li>
                <li>
                    <span class="list-icon">
                        <i class="fa fa-circle" aria-hidden="true"></i>
                    </span>
                    <span class="icon-list-text p3">Lâmpada de Wood</span>
                </li>
                <li>
                    <span class="list-icon">
                        <i class="fa fa-circle" aria-hidden="true"></i>
                    </span>
                    <span class="icon-list-text p3">Raspado de pele</span>
                </li>
            </div>
            <div>
                <li>
                    <span class="list-icon">
                        <i class="fa fa-circle" aria-hidden="true"></i>
                    </span>
                    <span class="icon-list-text p3">Tricograma</span>
                </li>
                <li>
                    <span class="list-icon">
                        <i class="fa fa-circle" aria-hidden="true"></i>
                    </span>
                    <span class="icon-list-text p3">Biopsia de pele</span>
                </li>
                <li>
                    <span class="list-icon">
                        <i class="fa fa-circle" aria-hidden="true"></i>
                    </span>
                    <span class="icon-list-text p3">Exames laboratoriais</span>
                </li>
                <li>
                    <span class="list-icon">
                        <i class="fa fa-circle" aria-hidden="true"></i>
                    </span>
                    <span class="icon-list-text p3">Ultrassonografia</span>
                </li>
                <li>
                    <span class="list-icon">
                        <i class="fa fa-circle" aria-hidden="true"></i>
                    </span>
                    <span class="icon-list-text p3">Medicações específicas</span>
                </li>
            </div>
        </div>
    </div>

    <div class="divider">
        <div class="elementor-divider">
            <span class="elementor-divider-separator"></span>
            <div class="elementor-icon elementor-divider__element">
                <i aria-hidden="true" class="fa fa-paw"></i>
            </div>
            <span class="elementor-divider-separator"></span>
        </div>
    </div>

    <div class="page-content">
        <p class="service-title title">Como se preparar para a consulta</p>
        <div class="card service-content2">
            <div>
                <p class="p2 subtitle">
                    Cuidados com o pet
                </p>
                <p class="p3">
                    <i class="fa fa-check-square-o" aria-hidden="true"></i>Evitar dar banhos até 5 dias antes da consulta
                </p>
                <p class="p3">
                    <i class="fa fa-check-square-o" aria-hidden="true"></i>Não limpar os ouvidos do animal por pelo menos uma semana antes da consulta
                </p>
            </div>
            <div>
                <p class="p2 subtitle">
                    Levar anotado
                </p>
                <p class="p3">
                    <i class="fa fa-check-square-o" aria-hidden="true"></i>Todos os exames já realizados
                </p>
                <p class="p3">
                    <i class="fa fa-check-square-o" aria-hidden="true"></i>Medicamentos que o animal está usando ou já utilizado
                </p>
                <p class="p3">
                    <i class="fa fa-check-square-o" aria-hidden="true"></i>Carteira de vacinação
                </p>
                <p class="p3">
                    <i class="fa fa-check-square-o" aria-hidden="true"></i>Imagens dos rótulos das rações que ele consome
                </p>
            </div>
        </div>
    </div>

</div>
