.content {
    padding-top: 10px;
    background-color: #9b5758;
    font-size: 26px;
    height: 350px;
    display: flex;
    justify-content: center;
}

.card {
    background-color: transparent;
    border: 0;
}

.booking-content {
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.booking-text {
    margin-top: 40px;
    width: 600px;
    color: #f2f2f2;
}

.booking-buttons {
    display: flex;
    flex-direction: row;
    width: 600px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.booking-buttons button {
    background-color: #d38f90;
    color: #f2f2f2;
    margin: 20px;
    width: 250px;
    height: 50px;
    border: 0px;
    border-radius: 25px;
    font-size: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: ease 0.2s;
}

.booking-buttons button:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
}

a {
    text-decoration: none;
    color: #f2f2f2;
}

.divider {
    transform: rotate(180deg);
    background-color: transparent;
    border: none;
    margin-top: -70px;
}

.shape-fill {
    fill: #f2f2f2;
    transform-origin: center;
    transform: rotateY(0deg);
}

@media (max-width: 1200px){
    .content {
        height: 450px;
        width: 100%;
    }

    .divider {
        margin-top: -52px;
    }
}

@media (max-width: 768px){
    

    .booking-content {
        padding-bottom: 51px;
    }

    .booking-buttons {
        width: 300px;
    }

    .booking-text {
        text-align: center;
        font-size: 18px;
    }

    .divider {
        display: none;
    }
}