<div id="about" class="content">
    <p class="title">Quem Somos</p>


    <p class="p3">A primeira clínica focada em atendimento especializado em doenças dermatológicas e alergicas em cães e gatos.</p>
    <p class="p3">propósito é oferecer atendimento especializado de excelência, com comprometimento e tratamento individualizado para cada paciente.</p>

    <p class="title">Dra. Bianca Cotrim</p>
    <p class="p3">
        Médica veterinária, formada pela Universidade Federal de Góias, desde 2008. Especializada em Dermatologia de pequenos animais e atualizada em diagnóstico por imagem em Ultrassonografia , idealizadora da Dermathus consta com vasta experiência em clinica de pequenos animais, atuante desde 2008.
    </p>
</div>




<div class="divider">
    <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 1920 120" fill="#d38f90" height="100%" width="100%">
        <path fill-rule="evenodd" d="M0,55.9621684 C300.495844,106.578393 620.495844,106.578393 960,55.9621684 C1299.50416,5.34594386 1619.50416,5.34594386 1920,55.9621684 L1920,120 L0,120 L0,55.9621684 Z"></path>
    </svg>
</div>
<div class="content-structure">
    <p>Nossa Estrutura</p>
</div>

