div {
    margin: 0px;
}

.divider {
    background-color: #5d101e; height: 110px;
}

.content {
    padding: 90px 20px;
    background-color: #f2f2f2;
    color: #5D101E;
    font-size: 40px;
    height: 550px;
}