/* div {
    margin: 0px;
} */

.divider {
    background-color: transparent;
    height: 110px;
    margin-top: -93px;
    position: relative;
    top: 1px;
}

.content {
    padding: 10px 20px;
    background-color: #f2f2f2;
    color: #5D101E;
    font-size: 40px;
    height: 100%;
}

.about-content {
    display: flex;
    flex-direction: row;
    justify-self: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.about-content div {
    max-width: 500px;
    justify-self: center;
    margin: 50px 0px;
}

.about-image {
    width: 45%;
    margin: 20px 100px;
}

.about-image2 {
    width: 70%;
    margin: 20px 0px;
    border-radius: 10%;
    box-shadow: 8px 8px 15px #8e8e8e;
}

.content-structure {
    padding: 90px 20px;
    background-color: #d38f90;
    color: #f2f2f2;
    font-size: 40px;
    height: 550px;
}