<div id="about" class="content">
    <div class="page-content">
        <p class="title">Quem Somos</p>

        <div class="about-content">
            
            <div>
                <img src="assets/images/pet7.png" alt="" class="about-image">
            </div>
            <div>
                <p class="p3">Dermathus é a primeira clínica veterinária especializada no diagnóstico e tratamento de doenças dermatológicas e alérgicas em cães e gatos, oferecendo uma abordagem única e focada no bem-estar dos seus melhores amigos.</p>
                <p class="p3">Nossa missão é proporcionar um atendimento de excelência, com dedicação, compromisso e tratamentos personalizados, adaptados às necessidades individuais de cada paciente. Valorizamos a confiança dos tutores e buscamos sempre as melhores soluções para garantir a saúde e qualidade de vida dos animais.</p>
                <p class="p3">Na Dermathus nós combinamos conhecimento atualizado com uma abordagem humanizada. Nosso objetivo é garantir diagnósticos precisos e tratamentos eficazes, sempre priorizando o conforto e a confiança do seu pet. Aqui, seu animal de estimação recebe cuidado e atenção em um ambiente acolhedor e seguro.</p>
            </div>

        </div>
    </div>
    
    <div class="page-content">
        <p class="title">Dra. Bianca Cotrim</p>
        <div class="about-content">
            <div>
                <p class="p3">
                    Graduada em Medicina Veterinária pela Universidade Federal de Goiás em 2008, a Dra. Bianca é especializada em Dermatologia de pequenos animais e possui ampla experiência clínica no cuidado de cães e gatos.
                </p> 
                <p class="p3">
                    Com constante atualização em diagnóstico por imagem, incluindo Ultrassonografia, alia conhecimento técnico avançado a uma prática dedicada, sempre priorizando a saúde e o bem-estar dos pacientes. Idealizadora da Dermathus, atua há mais de 15 anos como referência em Guanambi e região.
                </p>
                <p class="p3">
                    A Dra. Bianca acredita que cada paciente é único e merece um atendimento personalizado. Sua paixão pela profissão e compromisso com a excelência se refletem no cuidado humanizado e na busca contínua por inovação para atender às necessidades dos animais e de seus tutores.
                </p>
            </div>
            <div>
                <img src="assets/images/bianca_cotrim.png" alt="" class="about-image2">
            </div>
        </div>
    </div>
    

    
</div>

<div class="divider">
    <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 1920 120" fill="#d38f90" height="100%" width="100%">
        <path fill-rule="evenodd" d="M0,55.9621684 C300.495844,106.578393 620.495844,106.578393 960,55.9621684 C1299.50416,5.34594386 1619.50416,5.34594386 1920,55.9621684 L1920,120 L0,120 L0,55.9621684 Z"></path>
    </svg>
</div>

<div class="content-structure">
    <div class="page-content">
        <p class="title">Nossa Estrutura</p>
        <div class="about-content">
            <div>
                <p class="p3">
                    Em breve...
                </p>
            </div>
        </div>
    </div>
</div>

