<!doctype html>
<html lang="en">
<head>
  <title>Dermathus - Dermatologia Veterinária</title>
  <base href="/">
  <link rel="icon" href="https://www.dermathus.com.br/assets/images/dermathus_simbolo_tom2.png" sizes="32x32">
  <link rel="icon" href="https://www.dermathus.com.br/assets/images/dermathus_simbolo_tom2.png" sizes="180x180">
  <link rel="apple-touch-icon" href="https://www.dermathus.com.br/assets/images/dermathus_simbolo_tom2.png">
  <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
</head>
<body>

<div class="div-top"></div>
<div class="div-button">
    <button class="btn-back" (click)="navigateToHome()">Voltar</button>
</div>

<div class="calendly-inline-widget"></div>

</body>
</html>