<nav class="navbar" [ngClass]="{ 'scrolled': isScrolled }">
    <div>
        <img src="../../assets/images//dermathus_marca_branca.png" alt="Logo" class="logo" [ngStyle]="{ width: logoSize }">
    </div>
    <div class="div-nav-links">
        <ul class="nav-links">
        <li><a routerLink="/" fragment="div-home">Home</a></li>
        <li><a routerLink="/" fragment="div-about">Quem Somos</a></li>
        <li><a routerLink="/" fragment="div-service">Serviços</a></li>
        <li><a routerLink="/" fragment="div-booking">Agendamento</a></li>
        <li><a routerLink="/" fragment="div-contact">Contato</a></li>
        </ul>
    </div>
  </nav>